{% extends "model_result_4.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>        
      </tr>
    </thead>
    <tbody>
			{% for row in data %}
			<tr>
				{% for cell in row %}
				<td>{{ cell }}</td>
				{% endfor %}
			</tr>
			{% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
  </script>
{% endblock %}