{% extends "base.html" %}

{% block content %}
<h3>CLASSIFICATION PARAMETERS</h3>
<hr>
<h4>Confirm the uploaded file and click submit</h4><p>

  <p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
        <embed src="{{ messages[1] }}" width="500" height="700" type='application/pdf'>
	  {% endif %}
	{% endwith %}
  </p>



  <form method="post" action="model_result" enctype="multipart/form-data">
    <p><input type="submit" name="submit" value="Submit"></p>
      {% endblock %}
      {% block scripts %}
      {% endblock %}

