{% extends "basic_table.html" %}

      {% block content %}

      <form action="/upload" method = "POST">
        <fieldset class="row mb-3">
          <legend class="col-form-label col-sm-2 pt-0">Input:</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="file_type" id="gridRadios1" value="plain_text" checked>
              <label class="form-check-label" for="gridRadios1">
                Plain text
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="file_type" id="gridRadios2" value="txt">
              <label class="form-check-label" for="gridRadios2">
                Text file (.txt)
              </label>
            </div>
            <div class="form-check disabled">
              <input class="form-check-input" type="radio" name="file_type" id="gridRadios3" value="pdf_OCR">
              <label class="form-check-label" for="gridRadios3">
                Searchable PDF file (OCR-processed)
              </label>
            </div>
            <div class="form-check disabled">
              <input class="form-check-input" type="radio" name="file_type" id="gridRadios4" value="pdf" disabled>
              <label class="form-check-label" for="gridRadios4">
                No searchable PDF file (no OCR) 
              </label>
            </div>            
          </div>
        </fieldset>    

        <fieldset class="row mb-3">
          <legend class="col-form-label col-sm-2 pt-0">Input:</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="single_multiple_class" id="gridRadios1" value="single_classif" checked>
              <label class="form-check-label" for="gridRadios1">
                One classification per file
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="single_multiple_class" id="gridRadios2" value="multiple_classif">
              <label class="form-check-label" for="gridRadios2">
                Multiple classifications per file
              </label>
              <div class="row mb-3">
                <div class="col-sm-10">
  '                <input type="txt" name="break_char" id="break_char" placeholder="12">
                  <span id="break_char_help" class="form-text">
                    If multiple, insert the page/session break character (only numbers). Default is chr(12).
                  </span>   
                </div>
              <!-- <label class="form-check-label" for="inlineRadioOptions">Value</label> -->
              <!-- <input type="txt" name="inlineRadioOptions" required id="inlineRadio1" placeholder="chr(12)"> -->
              </div>


            </div>
          </div>
        </fieldset>  
        
        <!-- </div> -->
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      {% endblock %}
      {% block scripts %}
      {% endblock %}