{% extends "basic_table.html" %}




      {% block content %}

        <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"> -->
        
         <form action="/upload_file_type" method="POST">
          <table id="data" class="table table-striped">
          <thead>
            <tr>
              <th><strong>#</strong></th>
              {% for classification in column_names %}
                  <th>{{classification}}</th>
                  <!-- <th align="center"><input type="text" value="{{classification}}" name="{{classification}}" class="form-control"/></th>               -->
              {% endfor %}              
              </tr>    
          </thead>
          <tbody>   
            <tr>
            {% for class_parameter in row_data %}
              <tr>        
                <td><strong>{{ loop.index }}</strong></td>
                {% for parameter in class_parameter %}
                    <td>{{parameter}}</td>
                    <!-- <td align="center"><input type="text" value="{{parameter}}" name="{{parameter}}" class="form-control"/></td>                 -->
                {% endfor %}
              </tr> 
            {% endfor %}
             </tr> 
          <!-- <a class="btn btn-primary rounded-0 btn-block" id="insertRow" href="#">Add new row</a>  -->
          </tbody>
         <!-- <a class="btn btn-primary rounded-0 btn-block" id="insertRow" href="#">Add new row</a>         -->
          </table>

          <div class="row">
            <div class="col-sm-2  ms-sm-2">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
           
          
            <!-- <button id="add_row" class="btn btn-default pull-left">Add Row</button><button id='delete_row' class="pull-right btn btn-default">Delete Row</button> -->
          
      
          <!-- <button type="submit" class="btn btn-primary">Submit</button>
          <div style="height: 1px; margin: 1em 0; background-color: transparent;"></div>
          <input type="button" value="Reset"> -->
           
   
          </form>
      {% endblock %}
      {% block scripts %}
      {% endblock %}

