{% extends "basic_table.html" %}

      {% block content %}
         <form action="/store_user_parameter" method = "POST">
          <table id="data" class="table table-striped">
          <thead>
            <tr>
              <th></th>
              {% for classification in classifications %}
                  <th align="center"><input type="text" placeholder="{{classification}}" name="{{classification}}" class="form-control"/></th>
              {% endfor %}              
              </tr>    
          </thead>
          <tbody>   
            <tr>
            {% for class_parameter in class_parameters %}
              <tr>        
                <td>{{ loop.index }}</td>
                {% for parameter in class_parameter %}
                    <td align="center"><input type="text" placeholder="{{parameter}}" name="{{parameter}}" class="form-control"/></td>
                {% endfor %}
              </tr> 
            {% endfor %}
             </tr> 
          </tbody>
          </table>
            <button type="submit" class="btn btn-primary">Submit</button>
         </form>
      {% endblock %}
      {% block scripts %}
        <script>
          $(document).ready(function () {
            $('#data').DataTable();
          });
          
        </script>
      {% endblock %}