{% extends "basic_table.html" %}

      {% block content %}
         <form action="/store_user_parameter" method = "POST">

           
            <div class="row g-3">
            {% for classification in classifications %}
              <div class="col-md-2">
                <input type="text" class="form-control" id="numClass" placeholder="{{classification}}" name="{{classification}}">
              </div>
            {% endfor %}              
              
            <div id="my_box" class="row g-3">
            </div>          
      
            {% for class_parameter in class_parameters %}
              <div class="row g-3">           
                <!-- <td>{{ loop.index }}</td> -->
                {% for parameter in class_parameter %}
                  <div class="col-md-2"">
                    <input type="text" class="form-control" id="numClass" placeholder="{{parameter}}" name="{{parameter}}">
                  </div>                
                {% endfor %}
              </div>
            {% endfor %}
   
            <div style="height: 1px; margin: 1em 0; background-color: transparent;"></div>
            
            <div class="row g-3">    
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
   
          </form>
      </body>
      {% endblock %}
      {% block scripts %}
        <script>
          $(document).ready(function () {
            $('#data').DataTable();
          });
          
        </script>
      {% endblock %}
   </html>