{% extends "basic_table.html" %}

      {% block content %}
         <!-- <form action="/store_user_parameter" method = "POST"> -->
          <table id="data" class="table table-striped">
          <thead>
            <tr>
              <th></th>
              {% for classification in classifications %}
                  <th align="center"><input type="text" placeholder="{{classification}}" name="{{classification}}" class="form-control"/></th>
              {% endfor %}              
              </tr>    
          </thead>
          <tbody>   
            <tr>
            {% for class_parameter in class_parameters %}
              <tr>        
                <td>{{ loop.index }}</td>
                {% for parameter in class_parameter %}
                    <td align="center"><input type="text" placeholder="{{parameter}}" name="{{parameter}}" class="form-control"/></td>
                {% endfor %}
              </tr> 
            {% endfor %}
             </tr> 
          </tbody>
          </table>
            <button id="add_row" class="btn btn-default pull-left">Add Row</button><button id='delete_row' class="pull-right btn btn-default">Delete Row</button>
            <button type="submit" class="btn btn-primary">Submit</button>
         <!-- </form> -->
      {% endblock %}
      {% block scripts %}
        <script>
          $(document).ready(function () {
            $('#data').DataTable();


            var i=1;
            $("#add_row").click(function(){b=i-1;
            $('#addr'+i).html($('#addr'+b).html()).find('td:first-child').html(i+1);
            $('#tab_logic').append('<tr id="addr'+(i+1)+'"></tr>');
            i++;});
            $("#delete_row").click(function(){
          	 if(i>1){
      		  $("#addr"+(i-1)).html('');
      		  i--;
      		  }});

          });
          
        </script>
      {% endblock %}