{% extends "basic_table.html" %}


  <head>
    <title>File Upload</title>
  </head>

<body>
{% block content %}
<h3>CLASSIFICATION PARAMETERS</h3>
<hr>
<h4>Upload a pdf or text file and click submit</h4>
&nbsp;

    <h1>File Upload</h1>
    <form action="{{ url_for('upload_files') }}" class="dropzone">
    </form>


<form method="post" action="model_result" enctype="multipart/form-data">
    <dl>
    </dl>
    <p>
	<input type="submit" name="submit" value="Submit">
    </p>
</form>


</body>
      {% endblock %}
      {% block scripts %}
      {% endblock %}